.button {
    width: 100px;
    height: 30px;
    background: rgb(117, 160, 173);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    cursor: pointer;
}