.profile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
}


.sign {
    height: 24px;
    background-color: rgb(94, 148, 161);
    color: white;
    user-select: none;
}

.hidden{
    opacity: 0;
}