footer {
    width:100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
}

.footerButton, .footerButton-light {
    width: 80px;
    height: 20px;
    margin-right: 10px;
    font-size: 15px;
    color:rgb(245, 252, 253);
    border: 1px solid rgb(245, 252, 253);
    user-select: none;
}
.footerButton-light {
    background-color:rgba(48, 38, 38, 0.486);
    color: rgb(241, 228, 228);
}


.active {
    background: rgba(48, 38, 38, 0.61);
    color: white;
}