header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

  
.navButton, .navButton-light {
    width:100px;
    height: 30px;
    background-image: url('../image/milkyway.jpg');
    background-size: cover;
    border:1px solid white;
    user-select: none;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    overflow: hidden;
    &:hover {
        background-image:none;
        background-color: white;
        color:rgb(8, 15, 37);
    }
}

.navButton-light{
    background-image:none;
    background-color:rgba(48, 38, 38, 0.466);
    color:rgb(255, 255, 255);
}

.active {
    background-image: none;
    background-color: white;
    color:rgb(8, 15, 37);
}
